# OS specifics
*.swp
*.swo
.DS_Store


.idea/
frontend/node_modules/
node-debug.log
npm-debug.log
**/__pycache__
venv/
frontend/build/
osteranmeldung.bak/
db.sqlite3
test.py


# not sure whether they'd be useful in VCS - and they are so big!
header-images/*
mockups-demos/*


# Deployment
running-instance
event.log
error.log
config.yaml
